[user]
  name = Chris Metz
  email = me@chris-metz.dev
#[push]
#  default = simple
[color]
  ui = true
[core]
  editor = vi
[merge]
  tool = vimdiff
[core]
  excludesfile = ~/.gitignore_global
#[fetch]
#  prune = true
