[user]
  name = Kim Metz
  email = contact@teamheartcode.com
#[push]
#  default = simple
[color]
  ui = true
[core]
  editor = vim
[merge]
  tool = vimdiff
#[core]
#  excludesfile = ~/.gitignore_global
#[fetch]
#  prune = true
[pull]
  rebase = false
[init]
	defaultBranch = main
